.customers {
  margin: 60px 10px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.customers .header {
  padding: 20px;
}
.customers .header span {
  color: grey;
}
.customers .header h2 {
  color: #4f1988;
  font-size: 35px;
}

.swiper {
  padding: 50px;
  border-radius: 50px;
}

.swiper .logo img {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.swiper .text p {
  font-size: 23px;
  color: grey;
  margin-bottom: 20px;
}

.swiper .text h4 {
  font-size: 24px;
  color: #4f1988;
  font-weight: 600;
}
.swiper .text span {
  font-size: 18px;
  color: #e00c81b9;
  font-weight: 500;
}

@media all and (max-width: 850px) {
  .customers .header h2 {
    font-size: 25px;
  }
  .customers .header span {
    font-size: 15px;
  }
  .customers .header span {
    font-size: 13px;
  }
  .customers .header h2 {
    font-size: 20px;
  }
  .swiper {
    padding: 10px;
    padding-bottom: 40px;
  }
  .swiper .logo img {
    width: 70px;
  }

  .swiper .text p {
    font-size: 14px;
    width: 100%;
  }
  .swiper .text h4 {
    font-size: 18px;
  }
}
